In [6]:
import numpy as np
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score 
import pandas as pd

In [10]:
iris = load_iris()
x = iris.data
y= iris.target

In [23]:
df =  pd.DataFrame(x , columns = iris.feature_names)

In [24]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [25]:
df.shape

(150, 4)

In [26]:
df.size

600

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [35]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [36]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [37]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [51]:
target = pd.DataFrame(y)

In [48]:
target.value_counts()

0    50
1    50
2    50
Name: count, dtype: int64

In [52]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [44]:
X_train , X_test, y_train , y_test = train_test_split(x,y,test_size=0.2, random_state=42)

In [60]:
X_train.shape , X_test.shape , y_train.shape , y_test.shape

((120, 4), (30, 4), (120,), (30,))

In [46]:
kernels = ['rbf']
gammas = [0.5]
Cs = [0.01 , 1 ,10]

In [47]:
best_accuracy = 0
beat_parameters = None
best_support_vectors = None

In [57]:
for kernel in kernels:
    for gamma in gammas:
        for C in Cs:
            svm_clf = SVC(kernel = kernel,gamma = gamma, C = C,decision_function_shape = 'ovr')
            svm_clf.fit(X_train,y_train)
            y_pred = svm_clf.predict(X_test)
            accuracy = accuracy_score(y_test,y_pred)
            total_support_vectors =  np.sum(svm_clf.n_support_)
            print(f"kernel: {kernel}  ,Gamma : {gamma}, C: {C} , Accuraccy:{accuracy},Total support Vectors : {total_support_vectors}")
            if accuracy>best_accuracy:
                best_accuracy = accuracy
                best_parameters = (kernel , gamma, C)
                best_support_vectors = total_support_vectors

kernel: rbf  ,Gamma : 0.5, C: 0.01 , Accuraccy:0.3,Total support Vectors : 120
kernel: rbf  ,Gamma : 0.5, C: 1 , Accuraccy:1.0,Total support Vectors : 39
kernel: rbf  ,Gamma : 0.5, C: 10 , Accuraccy:1.0,Total support Vectors : 31

In [63]:
print("\nBest Classification Acuuracy : " ,best_accuracy)
print("Best Hyperparameters : " , best_parameters)
print("Total support Vectors for best Model : " , best_support_vectors)

Best Classification Acuuracy :  1.0
Best Hyperparameters :  ('rbf', 0.5, 1)
Total support Vectors for best Model :  39